In [27]:
import pandas as pd
import numpy as np
weather_df = pd.read_csv('weatherHistory.csv')

In [2]:
weather_df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
weather_df.tail()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [4]:
weather_df.shape

(96453, 12)

In [5]:
weather_df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [6]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [7]:
weather_df.isnull().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [8]:
round(100*(weather_df.isnull().sum()/len(weather_df.index)), 2)

Formatted Date              0.00
Summary                     0.00
Precip Type                 0.54
Temperature (C)             0.00
Apparent Temperature (C)    0.00
Humidity                    0.00
Wind Speed (km/h)           0.00
Wind Bearing (degrees)      0.00
Visibility (km)             0.00
Loud Cover                  0.00
Pressure (millibars)        0.00
Daily Summary               0.00
dtype: float64

In [9]:
weather_df['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [10]:
weather_df.loc[weather_df['Precip Type'].isnull(), 'Precip Type'] = 'rain'

In [11]:
weather_df.isnull().sum()

Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [12]:
weather_df.loc[weather_df['Precip Type'] == 'rain', 'Precip Type'] = 1
weather_df.loc[weather_df['Precip Type'] == 'snow', 'Precip Type'] = 0

In [21]:
weather_df_num = weather_df[list(weather_df.dtypes[weather_df.dtypes != 'object'].index)]

In [22]:
weather_y = weather_df_num.pop('Temperature (C)')
weather_x = weather_df_num

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(weather_x, weather_y, test_size=0.2, random_state=42)

In [24]:
x_train.head()

,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
43345,15.438889,0.96,10.8675,0.0,5.1359,0.0,1014.97
66832,1.133333,0.67,33.5041,302.0,11.3988,0.0,1010.07
92142,18.238889,0.97,5.7316,262.0,14.6832,0.0,1010.24
24092,10.227778,0.66,3.2200,310.0,9.9820,0.0,1018.47
35372,5.538889,0.76,14.0070,300.0,9.9820,0.0,1016.88

In [18]:
x_test.head()

,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
87206,28.827778,0.53,13.3469,304.0,15.5526,0.0,1014.03
33421,7.988889,0.83,14.4900,150.0,9.9820,0.0,1017.90
6807,14.400000,0.65,11.0446,144.0,9.6278,0.0,1022.00
37340,-2.722222,0.85,12.8156,40.0,8.0500,0.0,999.83
3016,-2.672222,0.82,7.4221,98.0,7.5509,0.0,1037.03

In [19]:
y_train.head()

43345    15.438889
66832     6.027778
92142    18.238889
24092    10.227778
35372     7.950000
Name: Temperature (C), dtype: float64

In [20]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
from sklearn.metrics import confusion_matrix, accuracy_score
prediction = lr.predict(x_test)
prediction

array([28.10156877,  9.59708665, 15.17032123, ..., 12.00162429,
       24.81693423, 19.51879461])

In [28]:
np.mean((prediction - y_test)**2)

0.8991261680520798

In [29]:
pd.DataFrame({'actual': y_test, 
             'prediction': prediction, 
             'diff': (y_test - prediction)})

          actual  prediction      diff
87206  28.122222   28.101569  0.020653
33421  10.000000    9.597087  0.402913
6807   14.400000   15.170321 -0.770321
37340   1.016667    0.120472  0.896194
3016   -0.122222   -0.258943  0.136721
...          ...         ...       ...
94353   9.183333    8.864772  0.318562
56859  17.894444   17.380992  0.513452
9080   10.716667   12.001624 -1.284958
47825  24.888889   24.816934  0.071955
43409  18.861111   19.518795 -0.657684

[19291 rows x 3 columns]

In [31]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=4)
x_poly = poly.fit_transform(x_train)
poly.fit(x_poly, y_train)

lr2 = LinearRegression()
lr2.fit(x_poly, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
prediction_2 = lr2.predict(poly.fit_transform(x_test))
np.mean((prediction_2 - y_test)**2)

0.1448526954381301

In [33]:
pd.DataFrame({'actual': y_test, 
             'prediction': predicition_2, 
             'diff': (y_test - predicition_2)})

          actual  prediction      diff
87206  28.122222   28.495510 -0.373288
33421  10.000000    9.476161  0.523839
6807   14.400000   14.693722 -0.293722
37340   1.016667    1.095388 -0.078721
3016   -0.122222   -0.415730  0.293507
...          ...         ...       ...
94353   9.183333    8.687046  0.496287
56859  17.894444   17.879364  0.015081
9080   10.716667   11.258494 -0.541827
47825  24.888889   24.564257  0.324632
43409  18.861111   18.768785  0.092326

[19291 rows x 3 columns]

In [38]:
from sklearn.tree import DecisionTreeRegressor
dt_regressor = DecisionTreeRegressor(random_state=0)
dt_regressor.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [40]:
prediction_3 = dt_regressor.predict(x_test)
np.mean((prediction_3 - y_test)**2)

0.005506935364857025

In [41]:
pd.DataFrame({'actual': y_test, 
             'prediction': prediction_3, 
             'diff': (y_test - prediction_3)})

          actual  prediction          diff
87206  28.122222   28.027778  9.444444e-02
33421  10.000000   10.000000  0.000000e+00
6807   14.400000   14.400000  5.329071e-15
37340   1.016667    1.066667 -5.000000e-02
3016   -0.122222   -0.072222 -5.000000e-02
...          ...         ...           ...
94353   9.183333    9.177778  5.555556e-03
56859  17.894444   17.894444  3.552714e-15
9080   10.716667   10.716667 -1.776357e-15
47825  24.888889   24.888889  0.000000e+00
43409  18.861111   18.861111  1.776357e-14

[19291 rows x 3 columns]

In [42]:
from sklearn.ensemble import RandomForestRegressor
rf_regressor = RandomForestRegressor(max_depth=10, random_state=0, n_estimators=100)
rf_regressor.fit(x_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [43]:
prediction_4 = rf_regressor.predict(x_test)
np.mean((prediction_4 - y_test)**2)

0.008923568045584565

In [44]:
pd.DataFrame({'actual': y_test, 
             'prediction': prediction_4, 
             'diff': (y_test - prediction_4)})

          actual  prediction      diff
87206  28.122222   27.930277  0.191945
33421  10.000000    9.927569  0.072431
6807   14.400000   14.396507  0.003493
37340   1.016667    1.084577 -0.067910
3016   -0.122222    0.023281 -0.145503
...          ...         ...       ...
94353   9.183333    9.111447  0.071886
56859  17.894444   17.889631  0.004813
9080   10.716667   10.712210  0.004457
47825  24.888889   24.885003  0.003886
43409  18.861111   18.865510 -0.004399

[19291 rows x 3 columns]

In [47]:
import joblib
joblib.dump(dt_regressor, 'weather_prediction.pkl')

['weather_prediction.pkl']

In [48]:
model = joblib.load('weather_prediction.pkl')